@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Indie Flower";
}


html,body {
    width:100%;
     height:100%;
     height: 100%;
 }
 body {
     background-color: rgba(75, 7, 0, 0.2);
 }
 

.welcome {
    display: block;
    position: relative;
    top: 15%;
    text-align: center;
    margin: auto;
    background-color: #625261;
    border-radius: 15px;
    width: 1000px;
    height: 120px;
    color: seashell;
    padding-top: 20px;
    font-size: 1.4rem;
    box-shadow: 3px 4px rgba(50, 20, 0, 0.5);
}

.welcome a{
    color: seashell;
    text-decoration: none;
}

.welcome p a:hover {
    margin: 0%;
    padding: 0;
    cursor: pointer;
    color: seashell;
    font-weight: bold;
}

/***** NAVBAR *****/


.navbar {
    display: flex;
    width: 100%;
    background-color: #625261;
    padding: 15px 0;
    color: seashell;
    font-family: "Indie Flower";
    padding: 15px;
}

.navbar h2{
    padding-left: 15px;
}

.navbar ul{
    display: flex;
    position: relative;
    list-style-type: none;
    left: 60%;
}

.nav-options {
    margin: 0 10px;
}

.navbar h2:hover {
    cursor: pointer;
}

.nav-options:hover {
    cursor: pointer;
    font-size: 1.10rem;
    font-weight: bold;
}

.nav-links {
    color: seashell;
    text-decoration: none;

}

/***** Login Or Sign up *****/
.enter-page{
    padding-top: 40px;
    position: relative;
    background-color: #fafafa;
    height: 350px;
    width: 1000px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
    top: 25%;
}

.btn {
    margin: 20px 0;
    background-color: #89BEB3;
    font-size: 1.7rem;
    font-family: "Indie Flower";
    color: seashell;
    letter-spacing: .3rem;
    padding: 10px;
}

.btn:hover {
    font-weight: bold;
}

/***** FORM VALIDATOR *****/

.modal-open {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation-name: fadein;
    animation-duration: 1s;
}

.container {
    position: absolute;
    background-color: #fafafa;
    justify-content: center;
    width: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.3);
    left: 40%;
    top: 20%;
    z-index: 1;
}

.form{
    padding: 20px;
}

.form-control label{
    font-size: 1.3rem;
}

.form-control input{
    margin: 20px 0;
    padding: 5px;
    font-size: 1.1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
    height: 30px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

form button{
    cursor: pointer;
    background-color: #89BEB3;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    font-size: 1.7rem;
    font-family: "Indie Flower";
    color: seashell;
    letter-spacing: .3rem;
}


form button:focus{
    outline: 0;
    border-color: #777;
}

#login {
    top: 35%;
}

/****** About *******/

.about {
    margin: 50px;
}

.about h1{
    text-align: center;
}

.about p{
    font-size: 1.3rem;
    letter-spacing: 1px;
}

hr {
    color: #625261;
    opacity: .5;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 30%;
    margin: auto;
}

/***** BLOG *****/
.wrapper {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25%;
}
.blog-container {
    margin-top: 10px;
    left: 0;
    position: relative;
}

.blog-post{
 margin: 10px;
}

.blog-title {
    position: relative;
    display: inline-flex;
    padding-bottom: 5px;
}

.blog-title h4{
    position: absolute;
    left : 300px;
}

.blog-body {
 padding-top: 5px;
}

.blog-post hr {
    border-top-style: solid;
    border-width: 3px;
    width: 100%;
    margin: auto;
}

/***** NEW BLOG POST *****/

#new-post-open{
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    animation-name: fadein;
    animation-duration: 1s;
}


textarea {
    resize: none;
}

.new-post{
    margin: 0;
    padding: 10px;
    left: 30%;
}

.form-control textarea{
    margin: 20px 0;
    padding: 5px;
    font-size: 1.1rem;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 100%;
}

.form-control textarea:focus{
    outline: 0;
    border-color: #777;
}

/***** Transitions *****/


@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}



@media (max-width:1300px){
    .navbar ul{
        position: relative;
        left: 50%;
    }
    .enter-page {
        width: 800px;
    }
    .container{
        left: 30%;
    }
    .welcome {
        width: 800px;
    }
    .blog-container{
        left: 0;
    }
    .wrapper {
        grid-template-columns: 50% 50%;
    }
}

@media (max-width:1050px){
    .navbar ul{
        position: relative;
        left: 40%;
    }
    .container{
        left: 25%;
    }
    .blog-container{
        left: 0;
    }
    .blog-post{
        padding: 5px 5px; 
    }
}

@media (max-width:850px){
    .navbar ul{
        position: relative;
        left: 30%;
    }
    .enter-page {
        width: 700px;
    }
    .welcome {
        width: 700px;
    }
    .blog-container{
        left: 0;
        margin-top: 25px;
    }
    .wrapper{
        display: inline;
    }
}

@media (max-width:750px){
    .navbar ul{
        flex-direction: column;
        left: 25%;
    }
    .navbar h2{
        align-self: center;
    }
    .enter-page {
        width: 400px;
    }

    .container{
        left: 10%;
    }
    .welcome {
        height: 200px;
        width: 400px;
    }
    .blog-container{
        left: 0;
    }
}

@media(max-height:850px){
    .wrapper {
        grid-template-rows: 33% 33%;
    }
}

@media(max-height:600px){
    .wrapper {
        grid-template-rows: 50% 50%;
    }
}
